{% extends 'base.html' %}
{%block content%}
    <h1>List of Departments</h1>
    <ol>
        {% for department in departments%}
        <li>
            {{department.name}}
            <ol>
                {% for employee in department.employee_set.all %}
                <li>{{employee.first_name}}</li>
                {% endfor %}
            </ol>
        </li>
         {%endfor%}
     </ol>

    <hr>
    <ol>
        {% for employee in employees%}
        <li>
            {{employee.first_name}} ( {{employee.deparment.name}} )
        </li>

        {%endfor%}
    </ol>
{%endblock content%}

